<%= if @current_user do %>
  <h1>User Logged In Homepage</h1>
<% else %>
  <%= live_component @socket,
    BoopagramWeb.PageLiveComponent,
    changeset: @changeset,
    trigger_submit: @trigger_submit %>
<% end %>
